VITE_SUPABASE_URL=https://hjgymxevgnakjnnmzyiz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhqZ3lteGV2Z25ha2pubm16eWl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NjA2MDUsImV4cCI6MjA5MDAzNjYwNX0.F5fu26iWocVneDqWLYYHhe1bAd2-wDn0iybTAGGrThs
